/*css 초기화*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*header*/
p{
margin:3px;
}
header {
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 1001;
}
#main_header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 140px;
  align-items: center;
  background-color: white;
  /* position: fixed; */
  z-index: 1001;
}
#Search_bar {
  height: 55px;
  width: 500px;
  border-radius: 10px;
  border: 2px solid #ff7200;
  padding-left:25px;
  padding-right:38px;
  margin-left: 30px;
  font-size: 18px;
}
.search-icon {
  position: relative;
  right: 35px;
}
.main_logo {
  width: 150px;
  height: 100px;
}

#login_sign > a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.cart-icon {
  position: relative;
  right: 10px;
}
/*navbar*/

#navber {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(23, 87%, 97%);
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
  height: 50px;
  z-index: 1000;
}

.menu_item {
  font-size: 20px;
  font-weight: 500;
  color: black;
  transition: all 1s;
}
.menu_item:hover {
  color: gray;
}

#menu_bar {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
#menu {
  position: absolute;
  background-color: #fff;
  display: none;
  width: 250px;
  height: 500px;
  margin-left: 100px;
  padding: 15px;
  z-index: 1000;
}
.add_menu {
  padding-bottom: 10px;
  padding: 5px;
  text-align: left;
  color: black;
}
#menu > li:hover {
  background-color: rgb(212, 210, 210);
}

#menu > li {
  display: flex;
}
/* .add_menu:hover + div {
  opacity: 1;
} */
/*banner*/
.carousel-item>img{
	height:350px;
}
#container {
  padding-top: 180px;
  width: 1440px;
  margin: 0 auto;
}

#banner {
  width: 100%;
  height: 370px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bannerBox {
  width: 1080px;
  overflow: hidden;
}

#bannerBox > ul {
  list-style: none;
  width: 1080px;
  height: 370px;
  transition: all 1s;
  display: inline-flex;
}

#bannerBox > ul > li {
  min-width: 1080px;
  min-height: 370px;
  text-align: center;
  color: #000;
}

#bannerBox > ul > li:first-child {
  background-color: orange;
}

#bannerBox > ul > li:nth-child(2) {
  background-color: #ad2324;
}

#bannerBox > ul > li:nth-child(3) {
  background-color: #cbccdb;
}

#bannerBox > ul > li:last-child {
  background-color: #faa234;
}

#prevBtn,
#nextBtn {
  cursor: pointer;
  border: 1px solid #adff2f;
  width: 3rem;
  height: 3rem;
  z-index: 999;
}
/*main contents*/
#main_container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}
.main_title3 {
  /*margin: 0 auto;*/
  width: 400px;
  height: 80px;
  line-height: 100px;
  margin-left:410px;
  text-align: center;
  background-color: white;
  font-size: 2em;
  border-bottom: 3px solid #ff7200;
}
.main_title {
  margin: 0px auto;
  padding-bottom:20px;
  width: 400px;
  height: 80px;
  line-height: 100px;
  text-align: center;
  background-color: white;
  font-size: 2em;
  border-bottom: 3px solid #ff7200;
}
.main_contents {
  margin: 0 auto;
  display: flex;
  width: 1080px;
  height: 500px;
  background-color: whitesmoke;
  justify-content: space-around;
}
.main_contents2 {
  margin: 0 30px;
  display: flex;
  width: 1080px;
  height: 470px;
  background-color: whitesmoke;
  justify-content: space-around;
}
.main_item {
  width: 300px;
  height: 370px;
  /*border: 1px solid gray;*/
  transition: all 1s;
  padding-top:10px;
}
.prodImg{
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
	width:310px; 
	height:330px;
	display:flex;
	justify-content:flex-end;
	flex-direction:flex-end;
	align-items: flex-end;
	padding-right:10px;
}

.prodImg>button{
	position:absolute;
	border:1px solid gray;
	border-radius:40% 40% 40% 40%;
	height:3em;
	width:3em;
	margin-bottom:20px;
	background-color:white;
}
.prodImg>button i{
	font-size:20px;	
	color:black;
	margin:auto;
}
.mart{
	color : blue;
}
.prodPrice{
	font-weight: bold;
}
/*footer*/

#main_footer {
  border-top: 1px solid #cbccdb;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 30px;
}

.footer_box {
  padding: 35px 30px;
  text-align: left;
  height: 250px;
  margin-right: 50px;
}
.footer_box > div {
  padding: 5px;
}
.footer_box > div:first-child {
  font-size: 20px;
  font-weight: bold;
}
.footer_box > div:nth-child(2) {
  font-size: 20px;
}
.footer_box > div:nth-child(3) {
  font-size: 18px;
}
#team_name > div {
  font-size: 16px;
  margin: 5px;
}
.icon_style {
  padding: 35px 30px;
  text-align: left;
  height: 250px;
}
.icon_style > a {
  font-size: 30px;
  margin-left: 15px;
}
.icon_style > a:first-child {
  color: blue;
}
.icon_style > a:nth-child(2) {
  color: black;
}
.icon_style > a:nth-child(3) {
  color: red;
}
.icon_style > a:nth-child(4) {
  color: rgba(231, 231, 7, 0.948);
}

<!--페이지네이션-->
.pagenav{
	text-align:center;
}
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}
.page-link {
  padding-left: 10px;
}
.pagination>li{
	color:black;
}
@media screen {
}
/*페이지 맨위로 */
#page_up {
  width: 70px;
  height: 70px;
  border: 1px solid lightgray;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  background-color: white;
  color: black;
  font-weight: 600;
  position: fixed;
  right: 40px;
  bottom: 50px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
}
#hide_menu {
  display: none;
}
#same{
	margin-left:210px;
	padding:0px 0px;
}
.bigbox3{
	padding:0px;
}
/*categoryPage.css 합침*/

#main_box {
  /*display: flex;
  justify-content: center;*/
  padding-top: 240px;
}
.article {
  display: flex;
  background-color: rgb(252, 249, 244);
  padding: 50px 100px;
}
#main_box2 {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}
#main_box2 > div {
  font-size: 25px;
  margin: 20px 0px;
}
.main_title2 {
  height: 80px;
  width: 250px;
  margin-bottom: 70px;
  border-bottom: 4px solid green;
  text-align: center;
  font-size: 35px;
  line-height: 80px;
}
#prodImg2 {
  width: 500px;
  height: 600px;
  background-image: url(https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1599107900298l0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*관심상품 박스*/
#cartitem{
	position:fixed;
	z-index:1020;
	border:2px solid lightgray;
	height:300px;
	width:290px;
	right:50px;
	padding: 10px;
	background-color:white;
}
.item{
border-bottom:1px solid lightgray;
text-align:center;	
padding:5px;
margin-bottom:10px;
}
@media (max-width:425px){
html{
	width:100%;
}
body{
	width:100%;
}
#main_footer{
  width:100%;
  }
.footer_box {
  padding: 30px 25px;
  text-align: left;
  height: 250px;
}
.footer_box > div {
  padding: 5px;
}
.footer_box > div:first-child {
  font-size: 13px;
  font-weight: bold;
}
.footer_box > div:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
}
.footer_box > div:nth-child(2) {
  font-size: 13px;
}
.footer_box > div:nth-child(3) {
  font-size: 13px;
}
#team_name > div {
  font-size: 13px;
}
}
@media (max-width:768px) {
  #Search_bar {
    height: 55px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ff7200;
    padding: 0px 25px;
    margin-left: 30px;
    font-size: 15px;
  }
  #login_sign > a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 0px 10px;
  }
  #navber {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(23, 87%, 97%);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
    height: 50px;
  }
  #container {
  	width:768px;
    padding-top: 180px;
    margin: 0 auto;
  }
  .carousel-item>img{
	width:100%;
  }
  #main_container {
    width: 100%;
    height: 100%;
    background-color: white;
    
  }
  .main_contents {
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-around;
  }
  #main_header {
    width: 100%;
    height: 140px;
    align-items: center;
    background-color: white;
    /* position: fixed; */
  }
  .main_item {
    width: 220px;
    /*height: 300px;*/
    /*border: 1px solid gray;*/
    transition: all 1s;
  }
  #cartitem{
	display:none;
  }
  #main_footer{
  width:100%;
  }
.footer_box {
  padding: 30px 25px;
  text-align: left;
  height: 250px;
  margin-right:0px;
}
.footer_box > div {
  padding: 5px;
}
.footer_box > div:first-child {
  font-size: 15px;
  font-weight: bold;
}
.footer_box > div:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
}
.footer_box > div:nth-child(2) {
  font-size: 15px;
}
.footer_box > div:nth-child(3) {
  font-size: 15px;
}
#team_name > div {
  font-size: 14px;
}
.icon_style {
  padding: 35px 20px;
  text-align: left;
  height: 250px;
}
.icon_style > a {
  font-size: 30px;
  margin-left: 12px;
}
#main_container {
  width: 768px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}
.main_contents {
  margin: 0px auto;
  display: flex;
  width: 100%;
  height: 450px;
  background-color: whitesmoke;
  justify-content: space-around;
}
.main_title {
  margin: 0px auto;
  padding-bottom:10px;
  width: 400px;
  height: 80px;
  line-height: 100px;
  text-align: center;
  background-color: white;
  font-size: 2em;
  border-bottom: 3px solid #ff7200;
}
.prodImg{
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
	width:220px; 
	height:250px;
	display:flex;
	justify-content:flex-end;
	flex-direction:flex-end;
	align-items: flex-end;
	padding-right:10px;
}
}
